.error-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-glass {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  padding: 60px;
}

.error-img {
  height: 10rem;
  width: 10rem;
}
