.landing-main {
  margin: 40px;
}

.head-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
}
.card {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-body {
  display: flex;
}

.date-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.date-time > span {
  font-size: 18px;
}
.date-time > span:nth-child(1) {
  font-weight: 500;
}

.details-section {
  margin-left: 15%;
}

.pattarai-text {
  font-size: 10px;
}

@media (max-width: 448px) {
  .card {
    width: 90%;
  }
  .pattarai-text {
    letter-spacing: 1px;
  }
  .server-status {
    font-size: 22px;
  }
  img {
    margin-right: 30px;
    height: 2rem;
    width: 2rem;
  }
  .card-text {
    font-size: 10px;
  }
  .date-time {
    margin-left: 30px;
  }
  .date-time > span {
    font-size: 15px;
  }
}
