.landing-main {
  margin: 40px;
}

.head-section {
  display: flex;
  justify-content: space-between;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
}
.card {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-body {
  display: flex;
}

.details-section {
  margin-left: 15%;
}

@media (max-width: 600px) {
  .pattarai-text {
    font-size: 10px;
    margin-left: 1px;
    letter-spacing: 7px;
  }
  .server-status {
    font-size: 25px;
  }
  img {
    height: 3.5rem;
    width: 3.5rem;
  }
}
