@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("./landing-page.css");
@import url("./error-page.css");
@import url("../fonts/font.css");

/* Custom Scrollbar */
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #1b1b1b;
}
html::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  border-radius: 10px;
}
/* Custom Scrollbar */

h1,
h2,
h3,
h4,
h5,
p {
  color: #1d1d1d;
}

p {
  margin-bottom: 10px;
  font-family: "Poppins";
}

body {
  background-color: #f0f0f0;
}

img {
  height: 5rem;
  width: 5rem;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-section {
  display: flex;
  justify-content: space-between;
}

.landing-main {
  margin: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}
.card {
  background-color: #f0f0f0;
  color: #1d1d1d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-body {
  display: flex;
}

.pattarai-text {
  font-family: "Montserrat";
  margin-left: 6px;
  letter-spacing: 10px;
}

.server-status {
  font-family: "Montserrat";
  font-weight: bold;
}

.text-uppercase {
  color: #141414;
}

.offline-card > * {
  background-color: #ff8686;
  border-color: #ff5a3d;
}

.details-section {
  margin-left: 40px;
}

.label-section {
  margin-left: 20px;
}

@media (max-width: 600px) {
  p {
    font-size: 1em;
  }
}
