@import url("./landing-page.css");
@import url("./error-page.css");
@import url("../fonts/font.css");

/* Custom Scrollbar */
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #1b1b1b;
}
html::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  border-radius: 10px;
}
/* Custom Scrollbar */

h1,
h2,
h3,
h4,
h5,
p {
  color: #1d1d1d !important;
}

p {
  margin-bottom: 10px;
  font-family: "Poppins";
}

body {
  background-color: #f0f0f0;
}

img {
  height: 5rem;
  width: 5rem;
}

.offline-card > * {
  background-color: #ff8686;
  border-color: #ff5a3d;
}

.pattarai-text {
  font-family: "Montserrat";
  margin-left: 5px;
  letter-spacing: 10px;
}

.server-status {
  font-family: "Montserrat";
  font-weight: bold;
}
