@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("./landing-page.css");
@import url("./error-page.css");

/* Custom Scrollbar */
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #1b1b1b;
}
html::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  border-radius: 10px;
}
/* Custom Scrollbar */

h1,
h2,
h3,
h4,
h5,
p {
  color: #ffffff;
}

body {
  background-color: #0f1118;
}

.offline {
  color: #ff5a3d;
}

img {
  height: 3rem;
  width: 3rem;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-main {
  margin: 40px;
}

.card {
  width: 100%;
  color: #fafafa;
  background-color: #181a22;
  border-color: #4e9992;
}

.card-body {
  display: flex;
  align-items: center;
}

.details-section {
  margin-left: 40px;
}

.label-section {
  margin-left: 20px;
}

@media (max-width: 600px) {
  p {
    font-size: 1em;
  }
}
